@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css');

html,
body,
.container-table {
    height: 100%;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.top-buffer {
    margin-top: 20px;
}



/* TABLE HANDLER */

.custab {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    transition: 0.5s;
}

.custab:hover {
    transition: 0.5s;
}